body{
    background-color: #92a8d1;
}

a.highlight:hover {
    color: #ff0000;
    font-weight: 500;
}

h1 {
font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #f44336;
    color: white;
    font-size: larger;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
    color: blue;
  }